.root {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.imgContainer {
  margin-right: 10px;
  position: relative;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: 500;
}

.online {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2;
  right: 0;
  border: 2px solid white;
}
